@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600&display=swap');

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
  
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
}

/********************** header ********************/
header{
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 20px 130px;
  align-items: center;
  justify-content: space-between;
  /* background: transparent; */
  background: rgb(53, 53, 53);
  transition: all 0.3s;
}

header.sticky{
  background: #0a0a0a;
  height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308)
}

.logo img{
  cursor: pointer;
  width: 180px;
  height: 170px;
  margin-top: 20px;
}

.navlist{
  display: flex;
}

.navlist li{
  position: relative;
  list-style: none;
}

.navlist li .norm{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
}

.navlist li .norm::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: -3px;
  left: 0;
  transition: ease .4s;
}

.navlist li .norm:hover::after{
  width: 100%;
}

#cart img{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}


.shopping-cart {
  width: 750px;
  height: auto;
  margin: 140px auto;
  background: #FFFFFF;
  box-shadow: rgba(83, 83, 94, 0.3) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #50575f;
  font-size: 20px;
  font-weight: 400;
  /* height: 60px; */
  text-align: center;
  padding: 30px;
}
  
.item {
  height: 120px;
  display: flex;
  padding: 10px;
  border-top:  1px solid #d7dee4;
}

.removeButtons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  cursor: pointer;
  overflow: hidden;
}

.removeButtons img{
  width: 35px;
  height: 35px;
  opacity: 0.7;
}

.image {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  width: 110px;
  height: auto;
  /* border: 1px solid #333; */

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.image img{
  min-width: 100%;
  min-height: 100%
}  

.description {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  /* border: 1px solid #333; */
}
  
.description .product {
  font-size: 14px;
  color: #19191a;
  font-weight: 400;
}

.description .company{
  font-size: 12px;
  font-weight: 400;
  color: #484b4d;
  margin-top: -10px;
}

.quantity {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  /* border: 1px solid #333; */
}

.quantity p{
  color: #333;
}

.total-price {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}

.buyBtn{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 35px;
}

.buyBtn a{
  width: 100%;
}

.buyBtn button{
  border: none;
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 50px;
  background: linear-gradient(to top, #0a6802, #259902);
  transition: all ease-in 0.2s;
}

.buyBtn button:hover{
  transform: scale(1.04);
}

.buyBtn a button p{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}